<!DOCTYPE html>

<html>

<head>

<title>

Projeto

</title>

</head>

<body>

<h1>

{{ projeto[1] }}

</h1>

<p>

{{ projeto[2] }}

</p>

<hr>

<a href="/versoes/{{ projeto[0] }}">

Histórico de versões

</a>

<br><br>

<a href="/projeto/{{ projeto[0] }}/duplicar">

Criar Projeto Individual

</a>

<br><br>

<a href="/projeto/{{ projeto[0] }}/membros">

Gerenciar membros

</a>

<br><br>

<a href="/solicitacoes">

Solicitações

</a>

</body>

</html>